/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.main-container > p {
  color: black;
  background-color: #dae3e5;
  padding: 15px;
  border-radius: 10px;
  width: 60vw;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px grey;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container > p {
  font-size: 45px;
}

form {
  margin-top: 50px;
  display: grid;
  grid-template: 2fr 2fr 2fr 2fr/ 4fr 4fr;
  /* background-color: aqua; */
  width: 40vw;
  min-height: 45vh;
  padding: 2rem;
  gap: 40px;
  border-radius: 15px;
  background-color: #dae3e5;
  box-shadow: 5px 5px 5px grey;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 25px;
}

input,
select {
  height: 25px;
  background-color: #fffff2;
  border: solid 2px black;
  border-radius: 10px;
}

.email-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.country-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.zip-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.pass-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.confirm-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.submit-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

button {
  min-height: 30px;
  min-width: 80px;
  justify-self: end;
  align-self: center;
  border: none;
  background-color: #ef8354;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

input:invalid,
select:invalid {
  border-color: red;
}

input:focus:invalid,
input:focus:valid,
select:focus:invalid,
select:focus:valid {
  outline: none;
}

.email-container > label::before,
.country-container > label::before,
.zip-container > label::before,
.pass-container > label::before,
.confirm-container > label::before {
  content: "*";
  position: relative;
  font-size: 18px;
  right: 5px;
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.email-container > label::after,
.country-container > label::after,
.zip-container > label::after,
.pass-container > label::after,
.confirm-container > label::after {
  content: "Required";
  position: relative;
  color: red;
  left: 12px;
  bottom: 2px;
  font-size: 16px;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
